<!DOCTYPE html>
<html lang="es">

<head>
  <th:block th:replace="fragments/head.html :: header" />
  <link rel="stylesheet" type="text/css" href="css/perfil.css" />
  
</head>

<body>
  <!-- Header -->
  <header>
    <div th:if="${modo} eq 'VISTA' or ${modo} eq 'EDICION'">
      <div th:replace="fragments/navigation.html :: modalBar(nombrePagina='PERFIL')"></div>
    </div>
    <div th:if="${modo} eq 'CREACION'">
      <div th:replace="fragments/navigation.html :: modalBar(nombrePagina='REGISTRO')"></div>
    </div>
  </header>

  <form id="formularioPerfil" th:action="${modo=='EDICION'}?@{/perfil/edicion}:@{/perfil/registraUsuario}" method="POST">

      <!-- Nombre de la cuenta (CREACION, EDICION) -->
      <div class="divCentrado" th:if="${modo} eq 'CREACION' or ${modo} eq 'EDICION'">
        <h2 class="w3-padding-24">Nombre Cuenta</h2>
        <input th:if="${modo} eq 'CREACION'" type="text" name="nombreCuenta" placeholder="Introduzca su usuario" required></input>
        <span th:if="${modo} eq 'EDICION'" th:text="${usuario.nombreCuenta}" class="w3-padding-24">Nombre Cuenta</span>
      </div>


      <!-- Nombre Perfil -->
      <h2 class="w3-padding-24">Nombre Perfil</h2>
      <span th:if="${modo} eq 'VISTA'" th:text="${usuario.nombre}">Nombre Perfil</span>
      <input th:if="${modo} eq 'EDICION'" type="text" name="nombre"  th:value="${usuario.nombre}" required></input>
      <input th:if="${modo} eq 'CREACION'" type="text" name="nombre" placeholder="Introduzca su nombre" required></input>


      <!-- Contraseña (CREACION, EDICION) -->
      <div class="divCentrado" th:if="${modo} eq 'CREACION' or ${modo} eq 'EDICION'">
        <h2 class="w3-padding-24">Contraseña</h2>
        <input th:if="${modo} eq 'CREACION'" type="password" name="pass" placeholder="Introduzca su contraseña"
          required></input>
        <input th:if="${modo} eq 'EDICION'" type="password" name="pass" placeholder="Introduzca su  nueva contraseña"
          required></input>
        <br>
        <input th:if="${modo} eq 'CREACION'" type="password" name="pass" placeholder="Repita la contraseña"
          required></input>
        <input th:if="${modo} eq 'EDICION'" type="password" name="pass" placeholder="Repita la nueva contraseña"
          required></input>
      </div>


      <!-- Imagen -->
      <h2 class="w3-padding-24">Imagen Perfil</h2>
      <div class="w3-center" th:if="${modo} eq 'VISTA'">
        <img id="imagen-perfil" src="img/profile.png">
      </div>
      <div class="w3-center" th:if="${modo} eq 'EDICION'">
        <img id="imagen-perfil" src="img/profile.png">
        <!-- ¿Boton para borrar la foto? -->
      </div>
      <div th:if="${modo} eq 'CREACION'">
        <input type="file" name="imagenPerfil">
      </div>


      <!-- Valoracion (VISTA, EDICION) -->
      <div class="divCentrado" th:if="${modo} eq 'VISTA' or ${modo} eq 'EDICION'">
        <div class="score" th:if="${usuario.score != null}">
          <th:block th:each="i: ${#numbers.sequence(1, usuario.score)}">					
          <i class="fa fa-star w3-margin-right"></i>
          </th:block>
        </div>
        <div class="score" th:if="${usuario.score == null}">
          <p>No tiene valoraciones aun</p>
        </div>
      </div>    
    
      <!-- Tags -->
      <div id="tags" th:if="${modo} eq 'VISTA'">
        <button th:each="i : ${usuario.tags}" class="w3-button w3-white tags" th:text="${i}" style="border-radius:12px;">Tags</li>
      </div>
      <div id="tags" th:if="${modo} eq 'EDICION' or ${modo} eq 'CREACION'">
        <!-- Hacer array con los tags y mostrarlos para poder seleccionarlos y que los tenga el perfil -->
      </div>



      <!-- Historial propuestas (VISTA, EDICION) -->
      <div th:if="${modo} eq 'VISTA' or ${modo} eq 'EDICION'" class="divCentrado">
        <h2 class="w3-padding-24">Historial de propuestas</h2>
        <div id="propuestas">
          <ul>
            <li>Propuesta1</li>
            <li>Propuesta2</li>
            <li>Propuesta3</li>
            <li>Propuesta4</li>
          </ul>
        </div>
      </div>
      <!-- Hacer historial de propuestas con query en el modelo -->

      <!-- Edad -->
      <h2 class="w3-padding-24">Edad media de los seguidores</h2>
      <div id="edad" th:if="${modo} eq 'VISTA'">
        <div id="edad-media" th:text="${usuario.edad}">Años de media</div>
      </div>

      <div id="edad" th:if="${modo} eq 'EDICION'">
        <input type="number" name="edad" min="0" max="100" value="Años de media" th:value="${usuario.edad}" required>
      </div>

      <div id="edad" th:if="${modo} eq 'CREACION'">
        <input type="number" name="edad" min="0" max="100" placeholder="Años de media" required>
      </div>

      <!-- Seguidores-->
      <h2 class="w3-padding-24">Perfiles en redes sociales</h2>

      <ul th:if="${modo} eq 'EDICION' or ${modo} eq 'VISTA'">
        <li th:each="perfil: ${perfilesRRSS}">
        <span th:text="${perfil.nombre}">nombrePorDefecto</span>
          <span class="numeroseguidores" th:text="${perfil.numSeguidores}"> 200k </span>
          <img th:if="${perfil.rrss} eq 'Twitter'" src="img/twitter.png" width="20" />
          <img th:if="${perfil.rrss} eq 'Facebook'" src="img/twitter.png" width="20" />
          <img th:if="${perfil.rrss} eq 'Instagram'" src="img/instagram.png" width="20"/>
          <img th:if="${perfil.rrss} eq 'Youtube'" src="img/youtube.png" width="20" />
        </li>
      </ul>

      <div th:if="${modo} eq 'CREACION'" class="w3-container w3-margin-bottom">
        
        <!-- Barra de seleccion RRSS -->
        <div class="w3-row w3-margin">
          <a onclick="abreEmpresa(event, 'Twitter');">
            <div class="tablink w3-quarter w3-bottombar w3-hover-light-grey w3-padding w3-border-red">Twitter</div>
          </a>
          <a onclick="abreEmpresa(event, 'Facebook');">
            <div class="tablink w3-quarter w3-bottombar w3-hover-light-grey w3-padding">Facebook</div>
          </a>
          <a onclick="abreEmpresa(event, 'Instagram');">
            <div class="tablink w3-quarter w3-bottombar w3-hover-light-grey w3-padding">Instagram</div>
          </a>
          <a onclick="abreEmpresa(event, 'Youtube');">
            <div class="tablink w3-quarter w3-bottombar w3-hover-light-grey w3-padding">Youtube</div>
          </a>
        </div>
      
        <!-- Contenido RRSS -->
        <div id="Twitter" class="empresa w3-container w3-padding" style="display:block">
          <span><img src="img/twitter.png" width="20" />Twitter</span>
          <input type="text" name="nombreTwitter" placeholder="Nombre de la cuenta">
          <input type="number" name="seguidoresTwitter" placeholder="Nº de seguidores"  min="0">
        </div>
      
        <div id="Facebook" class="empresa w3-container w3-padding" style="display:none">
          <span><img src="img/facebook.png" width="20" />Facebook</span>
          <input type="text" name="nombreFacebook" placeholder="Nombre de la cuenta">
          <input type="number" name="seguidoresFacebook" placeholder="Nº de seguidores"  min="0"> 
        </div>
      
        <div id="Instagram" class="empresa w3-container w3-padding" style="display:none">
          <span><img src="img/instagram.png" width="20" />Instagram</span>
          <input type="text" name="nombreInstagram" placeholder="Nombre de la cuenta">
          <input type="number" name="seguidoresInstagram" placeholder="Nº de seguidores"  min="0">
        </div>
      
        <div id="Youtube" class="empresa w3-container w3-padding" style="display:none">
          <span><img src="img/youtube.png" width="20" />Youtube</span> 
          <input type="text" name="nombreYoutube" placeholder="Nombre de la cuenta">
          <input type="number" name="seguidoresYoutube" placeholder="Nº de seguidores"  min="0">
        </div>

      </div>

      <!-- Botones -->
      <button th:if="${modo} eq 'EDICION'" class="w3-btn btnColor w3-margin" type="submit">Guardar cambios</button>
      <button th:if="${modo} eq 'CREACION'" class="w3-btn btnColor w3-margin" id="botonRegistrarseUsuario" type="submit">Registrar usuario</button>
      <button th:if="${modo} eq 'VISTA'" class="w3-btn btnColor w3-margin" onclick="document.getElementById('modal').style.display='none'">Cerrar perfil</button>

  </form>
  
</body>

</html>