<head>
    <th:block th:replace="fragments/head.html :: header"/>
    <link rel="stylesheet" href="css/valoracion.css">
</head>


<header>
    <div th:replace="fragments/navigation.html :: modalBar(nombrePagina='VALORACIÓN')"></div>
</header>

<body>

	<form th:action="@{/contrataciones/valorar}" method="POST">
	<input type="hidden" name="idCandidatura" th:value="${idCandidatura}">
    <div class="w3-container">
        <div class="w3-container w3-margin-bottom box divFlexSpaceEvenly divCentrado">
            <div class="texto-propuesta">
                <h2 th:text="${propuesta.nombre}"></h2>
                <p th:text="${propuesta.descripcion}"></p>
            </div>
			<div >
	            <img class="imgValoracion" th:src="@{/propuesta/{id}/photo(id=${propuesta.id})}"/>
			</div>
        </div>
        <div class="w3-container w3-margin-bottom box divFlexSpaceEvenly">
            <div id="cabecera">
                <!-- Titulo -->
                <h1>Valoración</h1>
                
                <!-- Imagen perfil -->
                <img class="imgValoracion" th:src="@{/perfil/{id}/photo(id=${idUsuario})}" />
				<input type="number" name="puntuacion" required>
                <!-- Estrellas -->
                <div class="ec-stars-wrapper">
                    <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                    <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                    <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                    <a href="#" data-value="4" title="Votar con 4 estrellas">&#9734;</a>
                    <a href="#" data-value="5" title="Votar con 5 estrellas">&#9734;</a>
                </div>
            </div>
            <div class="comentario">
                <p th:if="${modo} eq 'VISTA'" th:text="${valoracion.valoracion}"></p>
          		<textarea th:if="${modo} eq 'CREACION'" name="valoracion" rows="10" cols="50" required placeholder="Introduzca su valoracion"></textarea>
            </div>
        </div>

        <div class="divCentrado">
            <button th:if="${modo} eq 'CREACION'" class="w3-btn btnColor w3-margin" type="submit">Enviar valoración</button>
        </div>
    </div>
	</form>
	<div class="divCentrado">
	            <button th:if="${modo} eq 'VISTA'" class="w3-btn btnColor w3-margin" onclick="document.getElementById('modal').style.display='none'">Cerrar valoración</button>
	</div>

</body>