<div class="w3-row-padding">

	<div th:each="u: ${resultadoBusqueda}" class="w3-third w3-container w3-margin-bottom box">
		<div class="w3-container w3-white info divResultadoBusqueda">
			
			<!-- Imagen-->
			<div class="imagen" th:attr="data-id=${u.id}">
				<img src="img/profile.png"
					class="w3-hover-opacity imgPerfilBusqueda">
			</div>

			<!-- Nombre Usuario -->
			<p><b th:text="${u.nombre +' '+ u.apellidos}">Usuario</b></p>

			<!-- Valoracion -->
			<div class="score">
				<th:block th:each="i: ${#numbers.sequence(1, u.score)}">					
					<i class="fa fa-star w3-margin-right"></i>
				</th:block>
			</div>

			<!-- Tags -->
			<div th:each="tag: ${u.tags}">
				<button class="w3-button w3-white tags" th:text="${tag}">Tag</button>
			</div>
			
			<!-- Estado -->
			<p th:text="${u.estado}">Praesent tincidunt sed tellus ut rutrum.</p>

			<!-- Detalles-->
			<button class="btn btnDetalles" th:attr="data-id=${u.id}">Detalles</button>

		</div>
	</div>
</div>


<!-- Pagination -->
<div th:replace="fragments/navigation.html :: pagination"></div>
