.title1{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.description{
    text-align: center;
    font-weight: bold;  
}

.description_div{
    
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.description_input{
    align-items: center;
    display: flex;
    vertical-align: middle;
}

.global_div{
	padding-bottom: 4%;
}

.right_panel{
	height:600px;
}

.content{
	margin-left: 10px;
}

.control_panel{
	background-color:  #F7F6F6;
	height: 280px;
	border-radius: 20px;
	margin: 0px;
}

.messages_panel{
	background-color:  #F7F6F6;
	height: 530px;
	border-radius: 20px;
	margin-top:10px;
}

.dark_block{
    background-color: #D6D6D6;
    height: 120px;
    margin-top: 20px;
	border-radius: 10px;
}

.button_row{
    display: flex;
    justify-content: center;
}

.button{
	border-radius: 10px;
}

.divBotonPublicar{
margin:2em 0 0 1em;
	
}


.boton{
    text-align: center;
	background-color: #77d4df;
	font-size: large;
	height: 35px;
	width: 10%;
	padding: 0.5em;
	font-family: inherit;
	border-radius: 10px;
	margin: auto;

}

.proposal_block{
    background-color: #F7F6F6;
    height: 530px;
    margin-top: 10px;
	border-radius: 20px;
}

.rounded_corner{
	border-radius:10px;
}

.middle_button{
	margin-left: 20px; 
	margin-right: 20px;
}