body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

.header-config{
    background-color: #6ed1dd;                             /*Color que está en los moqups*/
}

.footer-config{
    background-color: #000000;
    color: #FFFFFF; 
}

a:link, a:visited, a:active{
    text-decoration:none;
    /*color:white;*/
}

.horizontalBar {
    margin: 0 auto;
    width: max-content;
}

