.comentario{
	display:flex;
	align-items:center;
}
.texto-propuesta{
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2em 02em;
}

.texto-propuesta h2{
	padding-bottom: 1em;
}

#cabecera{
    display:flex;
    flex-direction: column;
	align-items: center;
	margin: 0 2em 2em 2em;
}

#cabecera img{
      width: 10em;
	  margin: 1em 0  1em 0;
}

.imgValoracion{
	width:15em;
}


/*Estrellas*/
.ec-stars-wrapper {
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	font-size: 32px;
	font-size: 2rem;
	
	color: #F1C40F;
}

img{
	border-radius: 20px;
}


