<!doctype html>
<html lang="es">

<head>
    <link rel="stylesheet" href="finCampanna.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="general">
    <!-- Header -->
    <header>
        <div th:replace="fragments.html :: modalBar(nombrePagina='FIN DE CAMPAÑA')"></div>
    </header>
    <div class="main-content">
        <div class="title">
            <h1>Propuesta finalizada</h1>
        </div>
        <div class="info">
            <input type="text" placeholder="Introduzca su valoración" class="valoracion">
            <div class="ec-stars-wrapper">
                <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
            </div>

        </div>
        <div class="accepted">
            <div class="accepted-1">
                Enviar valoración
            </div>


        </div>
    </div>
</body>

</html>