<html lang="en">

<head>
    <link rel="stylesheet" href="css/inicio.css">
    <link rel="stylesheet" href="css/style.css">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
</head>

<body class="general">
    <header>
        <div th:replace="fragments.html :: navBar"></div>
    </header>

    <!--  -------------------------Cuerpo de la web----------------------------->
    <div id="global_div" class=>
        <div id="control_panel" class="medium_block">
            <h2>Panel de control</h2>
            <h3>Contactar con usuario</h3>
            <a><input type="text" id="username"> <button>Buscar usuario</button></a>
            <h3>Buscar una propuesta</h3>
            <h3><input type="text" id="username"><button>Crear propuesta</button></h3>
        </div>


        <div id="proposal_block" class="proposal_div">
            <h2>Propuestas activas<button style="float: right;">Ver todas las propuestas</button></h2>
            <div id="proposal1" class="proposal_block">
                <br>
                <p style="font-weight: bold;">Marca1: <a style="font-weight: 100;">Campaña en la que aquellos que
                        participéis debéis beber una Coca-Cola en alguno de
                        vuestros vídeos y hablar sobre el nuevo sabor que hemos lanzado</a></p>
                <div id="button_row_message" class="button_row_message">
                    <button>Ir a la propuesta</button>
                    <button style="margin-left: 20px; margin-right: 20px;">Abandonar propuesta</button>
                    <button>Contactar</button>
                </div>
            </div>
            <div id="proposal2" class="proposal_block">
                <br>
                <p style="font-weight: bold;">Marca2: <a style="font-weight: 100;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud </a></p>
                <div id="button_row_message" class="button_row_message">
                    <button>Ir a la propuesta</button>
                    <button style="margin-left: 20px; margin-right: 20px;">Abandonar propuesta</button>
                    <button>Contactar</button>
                </div>
            </div>
            <div id="proposal3" class="proposal_block">
                <br>
                <p style="font-weight: bold;">Marca3: <a style="font-weight: 100;">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud</a></p>
                <div id="button_row_message" class="button_row_message">
                    <button>Ir a la propuesta</button>
                    <button style="margin-left: 20px; margin-right: 20px;">Abandonar propuesta</button>
                    <button>Contactar</button>
                </div>
            </div>
        </div>


        <div id="messages_block" class="message_div">
            <h2>últimos mensajes <button style="float: right;">Ver todos los mensajes</button></h2>
            <div id="message" class="message_block">
                <br>
                <p style="font-weight: bold;">Harold Propper: <a style="font-weight: 100;">Saludos, estoy interesado en
                        la propuesta</a></p>
                <div id="button_row_message" class="button_row_message">
                    <button>Marcar como leído</button>
                    <button style="margin-left: 20px; margin-right: 20px;">Eliminar mensaje</button>
                    <button>Ir a la conversación</button>
                </div>
            </div>
            <div id="message" class="message_block">
                <br>
                <p style="font-weight: bold;">Firulai: <a style="font-weight: 100;">Hola, ¿me podrías explicar mejor en
                        que consiste la propuesta?</a></p>
                <div id="button_row_message" class="button_row_message">
                    <button>Marcar como leído</button>
                    <button style="margin-left: 20px; margin-right: 20px;">Eliminar mensaje</button>
                    <button>Ir a la conversación</button>
                </div>
            </div>
            <div id="message" class="message_block">
                <br>
                <p style="font-weight: bold;">roblox_player777: <a style="font-weight: 100;">Hola, ¿quieres ser mi
                        amigo?</a></p>
                <div id="button_row_message" class="button_row_message">
                    <button>Marcar como leído</button>
                    <button style="margin-left: 20px; margin-right: 20px;">Eliminar mensaje</button>
                    <button>Ir a la conversación</button>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------Footer area--------------------------------->
    <footer th:replace="fragments.html :: footer"></footer>

</body>

</html>