<html lang="en">

<head>
    <link rel="stylesheet" href="css/edicion.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Aclonica" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="general">
    <!-- Header -->
    <header>
        <div th:replace="fragments.html :: modalBar(nombrePagina='EDICION')"></div>
    </header>

    <!--  -------------------------Cuerpo de la web----------------------------->

    <div id="proposal_description" class="description_div">
        <p class="title1">Nombre de la propuesta: <input type="text" style="padding-top: 5px;" name="proposal_name"></p>

        <p class="description">Descripción de la propuesta:</p>
        <textarea class="description_input" name=description rows="20" cols="80"
            style="margin-left: 660px;">Escribe aquí la Descripción de la propuesta</textarea>

        <p class="description">Edad objetivo:</p>
        <p>De
            <input type="number" name="age_orig" id="age_orig">
            a
            <input type="number" name="age_end" id="age_end">
        </p>

        <p class="description">Periodo de propuesta</p>
        <p>
            De
            <input id="date_orig" type="date">
            a
            <input id="date_end" type="date">

        </p>
        <p class="description">Imagen de la campaña:
            <button>Seleccionar imagen</button>
        </p>
        <p><input type="text" value="tag1"><input type="text" value="tag2"><input type="text" value="tag3"><input
                type="text" value="tag4"></p>
        <button>Enviar</button>
    </div>

    <!------------------------------Footer area--------------------------------->

    <div class="footer footer_text">
        <a>Influencing - </a>
        <a href="#">Términos y condiciones - </a>
        <a href="#">Contacta con nosotros</a>
    </div>

</body>

</html>