<!DOCTYPE html>
<html lang="es">


<head>
    <th:block th:replace="fragments/head.html :: header"/>
    <link href="css/negociacion.css" rel="stylesheet">
</head>

<body class="general">
    
    <!-- Header -->
    <header>
        <div th:replace="fragments/navigation.html :: navBar(nombrePagina='CHAT DE NEGOCIACIÓN')"></div>
    </header>
    <main>
        <div class="contenido">

            <div class="lista" th:each="propuesta: ${propuestas}">
                <div class="propuesta">
                    <a href="">
                        <img width="50" height="50" src="img/perfilIcon.svg">
                    </a>
                    <span th:text="${propuesta.nombre}"> Nombre de la propuesta</span>
                </div>
            </div>

            <div class="chat">
                <div class="barraChat">
                    <div class="informacionChat">
                        <a href="" class="perfil">Perfil de la empresa/influencer</a>
                        <a href="" class="nombre">Zapatillas</a>
                    </div>
                    <div class="ultimatum">
                        <a href="" class="boton">Enviar Ultimatum</a>
                    </div>
                </div>
                <p class="mensaje recibido">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt
                    id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam
                    nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.

                </p>
                <p class="mensaje enviado">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt
                    id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam
                    nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
                </p>
				<p class="mensaje recibido">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt
                    id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam
                    nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.

                </p>
                <p class="mensaje enviado">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt
                    id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam
                    nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
                </p>

                <input type="text" placeholder="Introduzca su mensaje...">

            </div>
        </div>
    </main>
    <div th:replace="fragments/navigation.html :: footer"></div>
</body>

</html>