<!DOCTYPE html>
<html lang="es">

<head>
    <th:block th:replace="fragments/head.html :: header" />
    <link href="css/negociacion.css" rel="stylesheet">
    <script src="js/negociacion.js" type="text/javascript"></script>
    <title>Influencing: Chat de Negociación</title>
</head>

<body class="general">

    <!-- Header -->
    <header>
        <div th:replace="fragments/navigation.html :: navBar(nombrePagina='CHAT DE NEGOCIACIÓN')"></div>
    </header>
    <main>
        <div class="contenido-negociacion">

            <div class="lista">
                <div class="propuesta" th:each="c: ${candidaturas}"
                    th:attr="data-id=${c.id},data-prop-id=${c.propuesta.id}, data-prop-nombre=${c.propuesta.nombre}, 
					data-otro-nombre=${session.u.hasRole('EMPRESA')?c.candidato.nombre:c.propuesta.empresa.nombre},
					data-otro-id=${session.u.hasRole('EMPRESA')?c.candidato.id:c.propuesta.empresa.id}">
                    <a>
                        <img width="50" height="50" src="img/perfilIcon.svg">
                    </a>
                    <span th:text="${c.propuesta.nombre}"> Nombre de la propuesta</span>
                </div>
            </div>

            <div class="chat" id="chat">
                <div class="barraChat">
                    <div class="informacionChat">
                        <a class="perfil"></a>
                        <a class="nombre"></a>
                    </div>
                    <div class="ultimatum">
                        <span class="boton" id="botonUltimatum">Enviar Ultimatum</span>
                    </div>
                </div>
                <div id="contenidoChat">
                </div>
                <input id="botonEnviar" type="text" placeholder="Introduzca su mensaje...">

            </div>
        </div>

		<div th:replace="fragments/modal.html"></div>

        


    </main>
    <div th:replace="fragments/navigation.html :: footer"></div>
</body>



</html>