<!DOCTYPE html>
<html lang="es">
<div th:fragment="notificaciones">

  <head>
    <th:block th:replace="fragments/head.html :: header" />
    <link href="css/notificaciones.css" rel="stylesheet" />
  </head>

  <body style="width:100%" class="general">

    <!-- !PAGE CONTENT! -->
    <div>

      <!-- Header -->
      <header>
        <div th:replace="fragments/navigation.html :: modalBar(nombrePagina='NOTIFICACIONES')"></div>
      </header>

      </header>
      <div class="w3-container">
        <!-- First Notification Grid-->
        <div class="w3-card-4 w3-round w3-margin-top w3-margin-bottom">
          <div class="w3-container w3-pale-blue w3-button w3-large w3-right"
            onclick="this.parentElement.style.display='none'">X</div>
          <div class="w3-container w3-pale-blue w3-row w3-center">
            <h1>Header</h1>
          </div>

          <div class="w3-container w3-pale-blue w3-center">
            <p>Lorem ipsum...</p>
          </div>
        </div>

        <div class="w3-card-4 w3-round w3-margin-top w3-margin-bottom">
          <div class="w3-container w3-pale-blue w3-button w3-large w3-right"
            onclick="this.parentElement.style.display='none'">X</div>
          <div class="w3-container w3-pale-blue w3-row w3-center">
            <h1>Header</h1>
          </div>

          <div class="w3-container w3-pale-blue w3-center">
            <p>Lorem ipsum...</p>
          </div>
        </div>

        <div class="w3-card-4 w3-round w3-margin-top w3-margin-bottom">
          <div class="w3-container w3-pale-blue w3-button w3-large w3-right"
            onclick="this.parentElement.style.display='none'">X</div>
          <div class="w3-container w3-pale-blue w3-row w3-center">
            <h1>Header</h1>
          </div>

          <div class="w3-container w3-pale-blue w3-center">
            <p>Lorem ipsum...</p>
          </div>
        </div>

        <div class="w3-card-4 w3-round w3-margin-top w3-margin-bottom">
          <div class="w3-container w3-pale-blue w3-button w3-large w3-right"
            onclick="this.parentElement.style.display='none'">X</div>
          <div class="w3-container w3-pale-blue w3-row w3-center">
            <h1>Header</h1>
          </div>

          <div class="w3-container w3-pale-blue w3-center">
            <p>Lorem ipsum...</p>
          </div>
        </div>

        <!-- End page content -->
      </div>

  </body>
</div>

</html>

<!--
<div class="w3-row w3-center">
          <div class="w3-third w3-container w3-center w3-margin-bottom box">
            <div class="w3-container w3-center w3-white info">
              <input type="checkbox">
              <p><b>Notificacion 1</b></p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
            </div>
            <div style="text-align: center">
              <input type="button" name="" value="Borrar" onclick="">
            </div>
          </div>
      </div>
    </div>
-->