<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="css/administracion.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body class="general">

    <header>
        <div class="titulo">
            <h2>INFLUENCING</h2>
            <h2>Panel de administración</h2>
            <div class="desplegablePerfil">
                <img width="50" height="50" src="img/perfilIcon.svg">
                <p>Nombre de perfil</p>
            </div>
        </div>
    </header>
    <main>

        <div class="principal">
            <div class="enlaces">
                <a href="" class="boton">Influencers</a>
                <a href="" class="boton">Empresas</a>
                <a href="" class="boton">Propuestas</a>
                <a href="" class="boton">Denuncias</a>
            </div>
            <div class="contenido">
                <div class="busqueda">
                    <form>
                        <input type="text" class="textoBusqueda" placeholder="    Nombre de usuario/email">
                        <input type="submit" value="Buscar">
                    </form>
                </div>
                <div class="recientes">
                    <h3>Búsquedas recientes</h3>
                    <ul>
                        <li>
                            <div class="usuario">
                                <div class="imagenPerfil">
                                    <img width="50" height="50" src="img/perfilIcon.svg">
                                </div>
                                <div class="opcionesPerfil">
                                    <p> Nombre de perfil - Tipo perfil (no verificado)</p>
                                    <div class="botonesAdmin">
                                        <a href="" class="boton">Editar usuario</a>
                                        <a href="" class="boton">Bloquear usuario</a>
                                        <a href="" class="boton">Verificar usuario</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="usuario">
                                <div class="imagenPerfil">
                                    <img width="50" height="50" src="img/perfilIcon.svg">
                                </div>
                                <div class="opcionesPerfil">
                                    <p> Nombre de perfil - Tipo perfil (no verificado)</p>
                                    <div class="botonesAdmin">
                                        <a href="" class="boton">Editar usuario</a>
                                        <a href="" class="boton">Bloquear usuario</a>
                                        <a href="" class="boton">Verificar usuario</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="usuario">
                                <div class="imagenPerfil">
                                    <img width="50" height="50" src="img/perfilIcon.svg">

                                </div>
                                <div class="opcionesPerfil">
                                    <p> Nombre de perfil - Tipo perfil (no verificado)</p>
                                    <div class="botonesAdmin">
                                        <a href="" class="boton">Editar usuario</a>
                                        <a href="" class="boton">Bloquear usuario</a>
                                        <a href="" class="boton">Verificar usuario</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="usuario">
                                <div class="imagenPerfil">
                                    <img width="50" height="50" src="img/perfilIcon.svg">

                                </div>
                                <div class="opcionesPerfil">
                                    <p> Nombre de perfil - Tipo perfil (no verificado)</p>
                                    <div class="botonesAdmin">
                                        <a href="" class="boton">Editar usuario</a>
                                        <a href="" class="boton">Bloquear usuario</a>
                                        <a href="" class="boton">Verificar usuario</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="usuario">
                                <div class="imagenPerfil">
                                    <img width="50" height="50" src="img/perfilIcon.svg">

                                </div>
                                <div class="opcionesPerfil">
                                    <p> Nombre de perfil - Tipo perfil (no verificado)</p>
                                    <div class="botonesAdmin">
                                        <a href="" class="boton">Editar usuario</a>
                                        <a href="" class="boton">Bloquear usuario</a>
                                        <a href="" class="boton">Verificar usuario</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </main>
</body>

</html>