<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="administracion.css" rel="stylesheet">
</head>

<body>

    <header>
        <div class="titulo">
            <h2 class="titulo">Panel de administración</h2>
        </div>
    </header>
    <main>

        <div class="principal">
            <div class="busquedas">
                <a href="" class="boton">Influencers</a>
                <a href="" class="boton">Empresas</a>
                <a href="" class="boton">Propuestas</a>
                <a href="" class="boton">Denuncias</a>
            </div>
            <div class="contenido">
                <div class="busqueda">
                    <form>
                        <input type="text">
                        <input type="submit">
                    </form>
                </div>
                <div class="recientes">
                    <ul>
                        <li>
                            <div>
                                <div class="imagenPerfil">

                                </div>
                                <div class="opcionesPerfil">
                                    <p> Nombre de perfil - Tipo perfil (no verificado)</p>
                                    <div class="botonesAdmin">
                                        <a href="" class="boton">Editar usuario</a>
                                        <a href="" class="boton">Bloquear usuario</a>
                                        <a href="" class="boton">Verificar usuario</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </main>
</body>

</html>