<!doctype html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="finCampanna.css">
        </head>
        <body>
            <div class="main-content">
                <div class="title"> 
                    <h1>Propuesta X realizada</h1>
                </div>
                <div class="info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ducimus tempora pariatur nam, cupiditate necessitatibus temporibus quasi commodi unde corrupti. Incidunt corporis placeat id dolorem eligendi? Fuga facere consequatur officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ducimus tempora pariatur nam, cupiditate necessitatibus temporibus quasi commodi unde corrupti. Incidunt corporis placeat id dolorem eligendi? Fuga facere consequatur officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ducimus tempora pariatur nam, cupiditate necessitatibus temporibus quasi commodi unde corrupti. Incidunt corporis placeat id dolorem eligendi? Fuga facere consequatur officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ducimus tempora pariatur nam, cupiditate necessitatibus temporibus quasi commodi unde corrupti. Incidunt corporis placeat id dolorem eligendi? Fuga facere consequatur officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ducimus tempora pariatur nam, cupiditate necessitatibus temporibus quasi commodi unde corrupti. Incidunt corporis placeat id dolorem eligendi? Fuga facere consequatur officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ducimus tempora pariatur nam, cupiditate necessitatibus temporibus quasi commodi unde corrupti. Incidunt corporis placeat id dolorem eligendi? Fuga facere consequatur officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ducimus tempora pariatur nam, cupiditate necessitatibus temporibus quasi commodi unde corrupti. Incidunt corporis placeat id dolorem eligendi? Fuga facere consequatur officia.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ducimus tempora pariatur nam, cupiditate necessitatibus temporibus quasi commodi unde corrupti. Incidunt corporis placeat id dolorem eligendi? Fuga facere consequatur officia.

                </div>
                <div class="accepted">
                   <div class="accepted-1">
                       La empresa ha aceptado¡
                    </div>
                    <div class="ec-stars-wrapper">
                        <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                        <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                        <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                        <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                        <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                    </div>
                    <div class="accepted-2">
                        El influencer ha aceptado¡
                    </div>
                </div>
            </div>
        </body>
</html>
