<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="css/negociacion.css" rel="stylesheet">
</head>

<body>

    <header>
        <div class="titulo">
            <h2 class="titulo">Chat negociación de propuestas</h2>
        </div>
    </header>
    <main>
        <div class="enlaces">
            <a href="" class="boton">Perfil</a>
            <a href="" class="boton">Búsqueda de perfiles</a>
            <a href="" class="boton">Chat</a>
            <a href="" class="boton">Propuestas</a>
            <a href="" class="boton">Negociación</a>
        </div>
        <div class="contenido">
            <div class="lista">
                <div class="propuesta">
                        <a href="">
                            <img width="50" height="50" src="https://image.flaticon.com/icons/png/512/16/16363.png">
                        </a>
                        <span> Nombre de la propuesta</span>
                    </div>
                    <div class="propuesta">
                        <a href="">
                            <img width="50" height="50" src="https://image.flaticon.com/icons/png/512/16/16363.png">
                        </a>
                        <span> Nombre de la propuesta</span>
                    </div>
                    <div class="propuesta seleccionada">
                        <a href="">
                            <img width="50" height="50" src="https://image.flaticon.com/icons/png/512/16/16363.png">
                        </a>
                        <span> Zapatillas</span>
                    </div>
                    <div class="propuesta">
                        <a href="">
                            <img width="50" height="50" src="https://image.flaticon.com/icons/png/512/16/16363.png">
                        </a>
                        <span> Nombre de la propuesta</span>
                    </div>


            </div>
            <div class="chat">
                <a href="" class="perfil">Perfil de la empresa/influencer</a>
                <a href="" class="nombre">Zapatillas</a>
                <p class="mensaje recibido">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt
                    id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam
                    nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.

                </p>
                <p class="mensaje enviado">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt
                    id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam
                    nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
                </p>
                <div class="decision">
                    <a href="" class="boton aceptar"><img width=70 height=70
                            src="https://cdn.pixabay.com/photo/2016/02/02/05/52/confirm-1174801_960_720.png"></a>
                    <a href="" class="boton rechazar"><img width=70 height=70
                            src="https://cdn.pixabay.com/photo/2013/07/12/14/46/cancel-148744_960_720.png"></a>
                </div>
                <input type="text" placeholder="Introduzca su mensaje...">

            </div>
        </div>

    </main>
</body>

</html>