<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css/perfil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="fonts">
    <header>
        <h1>Perfil</h1>
    </header>
    <div class="profile-card">
        <div class="top-section">
            <i class="message fas fa-envelope"> </i>
            <i class="notif fas fa-bell"> </i>
            <div class="pic">
                <img src="css/pic.jpg" alt="">
            </div>
            <div class="name">Influency</div>
            <div class="tag">@Influency</div>
            <div class="ec-stars-wrapper">
                <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
            </div>
        </div>
        <div class="bottom-section">
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fas fa-link"></i></a>
            </div>

            <div class="videos">190<span>Videos</span></div>
            <div class="border"></div>
            <div class="subscribers">204k<span>Subscribers</span></div>
            <div class="border"></div>
            <div class="views">7.3M<span>Views</span></div>
        </div>
    </div>
    <div class="tag-list">
        <ul>
            <li>
                Tag 1
            </li>
            <li>
                Tag 2
            </li>
            <li>
                Tag 3
            </li>
            <li>
                Tag 4
            </li>
        </ul>
    </div>
    <dl>
        <dt>Propuesta 1</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur maxime cupiditate nesciunt molestias
            itaque vel reiciendis</dd>

        <dt>Propuesta 2</dt>

        <dt>Propuesta 3</dt>

        <dt>Propuesta 4</dt>

        <dt>Propuesta 5</dt>
    </dl>
    <footer class="footer_text">
        <a>Influencing - </a>
        <a href="#">Términos y condiciones - </a>
        <a href="#">Contacta con nosotros</a>
    </footer>
</body>

</html>